/*Custom fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#pokemon__final__card{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://as01.epimg.net/meristation/imagenes/2019/09/27/noticias/1569599810_834018_1569600053_noticia_normal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#pokemon_wrapper{
    position: relative;
    width: 900px;
    height: 450px;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, .45);
    backdrop-filter: blur(5px);
}

.hidden{
    display: none;
}


#pokemon_img_wrapper{
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pokemon_img_wrapper > #img{
    width: 90%;
    height: 70%;
}

#pokemon_status_wrapper{
    height: 100%;
    width: 66.66%;
}

#pokemon_status_wrapper > #pokemon_status_name_wrapper{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pokemon_status_wrapper > #pokemon_status_name_wrapper > .pokemon_name{
    text-transform: capitalize;
    font-size: 2.5em;
    margin-top: 25px;
    color: lightgray;
}

#pokemon_status_wrapper > .pokemon_status{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

#pokemon_status_wrapper > .pokemon_status > .pokemon_status_wrapper{
    height: 50px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#pokemon_status_wrapper > .pokemon_status > .pokemon_status_wrapper > label{
    margin-top: 7px;
    font-size: 1em;
    color: lightgrey;
}

#pokemon_status_wrapper > .pokemon_status > .pokemon_status_wrapper > .pokemon_drop_stat{
    font-size: 1em;
    color: lightgrey;
}

#pokemon_status_wrapper > .pokemon_status > .pokemon_status_wrapper > progress{
    width: 65%;
}